@{
    ViewData["Title"] = "Product";
}
 
<main id="main">
     
    <section id="breadcrumbs" style="background: white" class="breadcrumbs">
        <div class="container">
        </div>
    </section> 
    <section id="portfolio-details" class="portfolio-details">
        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-8">
                    <div class="portfolio-details-slider swiper">
                        <div class="swiper-wrapper align-items-center">

                            <div class="swiper-slide">
                                <img src="~/img/portfolio/portfolio-1.jpg" alt="">
                            </div>

                            <div class="swiper-slide">
                                <img src="~/img/portfolio/portfolio-2.jpg" alt="">
                            </div>

                            <div class="swiper-slide">
                                <img src="~/img/portfolio/portfolio-3.jpg" alt="">
                            </div>

                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="portfolio-info">
                        <h3>Product Name</h3>
                        <ul>
                            <li><strong>Category</strong>: Web design</li>
                            <li><strong>Vendor</strong>: ASU Company</li>
                            <li><strong>Bought Price</strong>: 01 March, 2020</li>
                            <li><strong>Sold Price</strong>:  </li>
                            <li><strong>Sold</strong>:  </li>
                            <li><strong>Left</strong>:  </li>
                        </ul>

                        <div class="row">
                            <div class="col">
                                <input type="submit" class="btn btn-warning" value="Edit Product">
                            </div>
                            <div class="col">
                                <input type="submit" class="btn btn-outline-danger" value="Delete Product">
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-description">
                        <h2>Description</h2>
                        <p>
                            Autem ipsum nam porro corporis rerum. Quis eos dolorem eos itaque inventore commodi labore quia quia. Exercitationem repudiandae officiis neque suscipit non officia eaque itaque enim. Voluptatem officia accusantium nesciunt est omnis tempora consectetur dignissimos. Sequi nulla at esse enim cum deserunt eius.
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </section> 

</main> 
